<div class="row-fluid">
  <div class="span6" style="float:left">
    <div class="heading_2">Tweets Cloud</div>
  </div>
  <div class="span6" style="float:right">
    <%= link_to "Try Another Twitter Handle" ,root_path , :class=>"btn btn-large btn-primary"  , :style=>"font-size:20px;padding:18px 14px;"%>
    <%= link_to "What's this Numbers Are?" , '#explanation' ,  :class=>"btn btn-large btn-success" , :style=>"font-size:20px;padding:18px 14px;"%>
  </div>
</div>

<br/><br/>
<div class="row-fluid">
  <div class="span12" style="margin-top:20px;">

    <div class="heading" style="text-align:center;">
	<% if @name %>
      <b><%= @name %></b>(s) Tweets on the Cloud
	<% end %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">



    <div class="cloud" style="">
      <ul id="xpower" class="xmpl" >

        <% @count.each do |s| %>
          <li value="<%= s[1] %>"><%= s[0] %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
<div class="cl-10"></div>

<div id="explanation" class="row-fluid">
  <div class="span12">
    <div class="description">
      <h4>Description</h4>
      <br/>
      <p>The numbers inside the cloud represent the <strong>Total word count</strong> of each tweets of a particlur user. The Font size and the color
        will varies depending upon the total count of that particular word count matching tweets , Here the largest count among the tweets that contains
        the same word count is appearing in the highest Font Size</p>

  </div>
</div>
</div>
    <div class="cl-30"></div>










<script type="text/javascript">
  $(function(){
    $('#xpower').tagcloud({type:'sphere',height:500,sizemin:12,sizemax:100,power:.6,colormin:"f81908",colormax:"2f29ff"});
  });
</script>

